<section class="card" id="task">
    <button id="generateTask" alt="Random Task! Sure, it's an Austin Powers reference.">Random Task!</button>
    <div class="taskCard">
        <h2 id="taskTitle">Press the Button for a random task!</h2>
        <img src="../public/images/badMagic.jpg">
        <p id="taskDescription"></p>
    </div>
    <button href="/suggestions">Give Me Suggestions!</button>
</section>
<script src="../public/js/randomTask.js"></script>