<section class="card" id="task">
    <button class="button-64" role="button" id="generateTask" alt="Random Task! Sure, it's an Austin Powers reference."><span class="text">Random Task!</span></button>
    <div class="taskCard">
        <h2 id="taskTitle">Press the Button for a random task!</h2>
        <img id="taskImage" src="/images/badMagic.jpg">
        <p id="taskDescription"></p>
    </div>
    <button class="button-64" role="button" id="suggestions-button"><span class="text">Give Me Suggestions!</span></button>
</section>
<script src="/js/randomTask.js"></script>