<section class="card" id="suggestion-card">
            <button class="button-64" id="toTask" href="/"><span>Back</span></button>
            <form>
              <label for="suggestion">Suggestion:</label>
              <input type="text" id="suggestion" name="suggestion">
            
              <label for="description">Description:</label>
              <input id="description" name="description"></input>
            
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" placeholder="(Optional)">
            
              <input class="button-64" type="submit" value="Submit">
            </form>   
        </section>
        <script src="/js/suggest.js"></script>